/source/VideoEncode/VideoEncode.pro.user
/source/build-VideoEncode-Desktop_Qt_5_13_0_MSVC2017_32bit-Debug
/source/VideoDecode/VideoDecode.pro.user
/source/build-VideoDecode-Desktop_Qt_5_13_0_MSVC2017_32bit-Debug
/source/build-VideoDecode-Desktop_Qt_5_13_0_MSVC2017_64bit-Release
/source/AudioDecode/AudioDecode.pro.user
/source/build-AudioDecode-Desktop_Qt_5_13_0_MSVC2017_32bit-Release
/source/OtherDemo/mydemo/build-TestAvFilter-Desktop_Qt_5_13_0_MSVC2017_32bit-Debug
source/OtherDemo/mydemo/FilterDemo/TestAvFilter.pro.user
/source/build-FFMPEG_Qt-Desktop_Qt_5_13_2_MSVC2017_32bit-Debug
/source/FFMPEG_Qt/FFMPEG_Qt.pro.user
source/build-VideoDecode-Desktop_Qt_5_13_2_MSVC2017_32bit_654258-Release
/build-FFmpegDemo-Desktop_Qt_5_13_2_MSVC2017_32bit_654258-Debug
/build-FFmpegDemo-Desktop_Qt_5_13_2_MSVC2017_32bit_654258-Release
